
.nextflow/
.nextflow.log*
work/


.nf-test/
.nf-test.log
*.nf-test.log
/nf-test


results/
results_*/
*.html
*.out


*.fastq.gz
*.fq.gz
*.fa
*.gtf
*.bam
*.sa
*.tar.gz
Homo_sapiens_assembly38.*


!test_data/
!test_data/**/*
!tests/fixtures/
!tests/fixtures/**/*


samplesheet.csv
repo_dump.txt