.nextflow/
work/
results/
results_*/
.nextflow.log*
*.html
.nf-test/
.nf-test.log
*.nf-test.log
/nf-test
*.fastq.gz
*.fq.gz
*.fa
*.gtf
*.bam
*.sa
*.tar.gz
*.out
Homo_sapiens_assembly38.*

samplesheet.csv
assets/test_data/
repo_dump.txt
