plugins {
    id 'nf-schema@2.8.0' 
}

params {
    input         = null
    outdir        = './results'
    fasta         = null
    star_index    = null
    gtf           = null
    sjdb_overhang = 149
    max_cpus = 16
}

docker {
    enabled = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

process {

    errorStrategy = 'finish'

    resourceLimits = [
        cpus: params.max_cpus,
        memory: '256.GB',
        time: '240.h'
    ]

    withName: PARABRICKS_RNAFQ2BAM {
        ext.args = "--sjdb-overhang ${params.sjdb_overhang} --read-files-command zcat"
        errorStrategy = 'ignore'
        publishDir = [
            path: "${params.outdir}/parabricks",
            mode: 'copy',
            pattern: "*.bam"
        ]
    }

    withName: SUBREAD_FEATURECOUNTS {
        errorStrategy = 'ignore'
        publishDir = [
            path: "${params.outdir}/FeatureCounts",
            mode: 'copy'
        ]
    }

    withName: GENERATE_COUNT_MATRIX {
        container = 'amancevice/pandas:3.0.5'
    }

    withName: 'FASTQC_RAW' {
        publishDir = [
            path: "${params.outdir}/FastQC/raw",
            mode: 'copy'
        ]
    }

    withName: 'FASTQC_TRIMMED' {
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: "${params.outdir}/FastQC/trimmed",
            mode: 'copy'
        ]
    }

    withName: 'FASTP' {
        publishDir = [
            path: "${params.outdir}/FastP",
            mode: 'copy',
            pattern: "*.{html,json}"
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: "${params.outdir}/MultiQC",
            mode: 'copy'
        ]
    }
    
    withLabel: 'process_single' {
        cpus   = 1
        memory = 4.GB
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = 8.GB
    }
    withLabel: 'process_high' {
        cpus   = 8
        memory = 16.GB
    }
    withLabel: 'process_gpu' {
        cpus   = 16
        memory = 64.GB
        time   = '24h'
        accelerator = 1
    }
}

profiles {
    standard {
        process.executor = 'local'
        params.max_cpus = Runtime.getRuntime().availableProcessors() ?: 16

        process {
            withLabel: 'process_gpu' {
                maxForks = 1
            }
        }
    }

    portable {
        process {
            errorStrategy = { task.exitStatus in [137, 143, 104, 134, 139, 255] ? 'retry' : 'finish' }
            maxRetries    = 3
            
            withLabel: 'process_single' {
                cpus   = { 1 * task.attempt }
                memory = { 4.GB * task.attempt }
            }
            withLabel: 'process_medium' {
                cpus   = { 4 * task.attempt }
                memory = { 8.GB * task.attempt }
            }
            withLabel: 'process_high' {
                cpus   = { 8 * task.attempt }
                memory = { 16.GB * task.attempt }
            }
            withLabel: 'process_gpu' {
                cpus   = { 16 * task.attempt }
                memory = { 64.GB * task.attempt }
            }
        }
    }

    ci {
        process {
            resourceLimits = [
                cpus: 1,
                memory: '2.GB',
                time: '1.h'
            ]
        }
    }
}
