plugins {
    id 'nf-schema@2.8.0' 
}

params {
    input  = null
    outdir = './results'
    skip_alignment = true
    pseudo_aligner = 'salmon'
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = true
    }
    cloud {
        process.executor = 'awsbatch'
        docker.enabled   = true
        
        process {
            withName: 'SALMON_QUANT' {
                cpus   = 8
                memory = '16 GB'
                errorStrategy = 'ignore'
            }
        }
    }
}