plugins {
    id 'nf-schema@2.8.0' 
}

params {
    input  = null
    outdir = './results'
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = true
    }

portable {
        docker.enabled = true
        
        process {
            withLabel: 'process_single' {
                cpus   = 1
                memory = '4 GB'
            }
            withLabel: 'process_medium' {
                cpus   = 4
                memory = '8 GB'
            }
            withLabel: 'process_high' {
                cpus   = 8
                memory = '16 GB'
            }
            withLabel: 'process_gpu' {
                cpus   = 16
                memory = '64 GB'
                time   = '24h'
            }
            
            errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
            maxRetries    = 2
        }
    }
}